@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section { 
  display: block;
}

.container {
  display: flex;
  background-color: white;
  color: red;
  padding: 0 2rem;
}

.logo {
  cursor: pointer;
}

.navItem {
  padding-inline: 1rem;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


